body{
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.container{
    max-width: 380px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
  }